<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Anaconda</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="_header"></th:block>
   </head>
   <body>
      
      <th:block th:include="_menu"></th:block>
       
      <section id="spring1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>

  <div class="carousel-inner">
    

     
    <div class="carousel-item active">
      <img src="https://www.kfa.or.kr/img_src/main_banner/167028981789721.jpg" style=" width: 100%;">
     
    
  </div>
    </div>
   
  </div>
  
</div>
</section>
<br>

<!-- ------------------------------section end---------------------------------- -->
  
<!-- ------------------------------section end---------------------------------- -->
<!-- ------------------------------carousel end---------------------------------- -->
<section id="spring1">
   <div class="carousel-inner">
      
       <div class="container">
       <img src="https://www.kfa.or.kr/img_src/main_banner/167028971056216.jpg">
         
       <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 40px; font-weight: 900; margin-bottom: 40px; margin-right: 400px; color: #FFF;">태극전사들의 열정을 일상에서 ! <br></h1>
<p style="font-size: 2rem; color: #FFF;">Feel Reds Again<br></p>
 <a href="https://www.vvasco.site/productList"  style="clear:both; background: #000; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;" />Go home<span class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>
    </div>
   </div>
   </div>
</section>
   


<section id="spring1">
   <div class="carousel-inner">
      
      
    <div class="container">
       <img src="https://digitalhub.fifa.com/transform/e004a86b-a86d-49fe-bff1-787168a5b8e7/FIFAPLUS_2022TICKET_BANNER_ENGLISH-1?io=transform:fill,aspectratio:21x9,width:1920&quality=100">

         
       <div class="carousel-caption d-none d-md-block">
        <h1 style="font-size: 50px; font-weight: 900; margin-bottom: 140px; margin-right: 600px; color: #FFF;">FIFA WorldCup Qatar 2022 <br>
<p style="font-size: 2rem; color: #FFF;">Expect Amazing<br></p>
 <a href="https://www.fifa.com/fifaplus/en/tournaments"  style="clear:both; background: #000; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;" />Go home<span class="fa fa-arrow-right" style="margin-left: 9px;"></span></a>
    </h1>
    </div>
   </div>
   </div>
</section>
   
      <section id="product_sec">
         <div class="row">
           <div class="col-lg-3">
             <img src="https://cdnweb01.wikitree.co.kr/webdata/editor/202209/22/img_20220922151459_68cb98a7.webp">
           </div>

           <div class="col-lg-3">
             <img src="https://cdnweb01.wikitree.co.kr/webdata/editor/202209/22/img_20220922151507_2b32b3af.webp">
           </div>

           <div class="col-lg-3">
             <img src="https://cdnweb01.wikitree.co.kr/webdata/editor/202209/22/img_20220922151512_23b96547.webp">
           </div>

           <div class="col-lg-3">
             <img src="https://cdnweb01.wikitree.co.kr/webdata/editor/202209/22/img_20220922151519_36edee65.webp">
           </div>
         </div>
      </section>
   
<!-- ------------------------------About end---------------------------------- -->
<section id="restaurants_bars">
  <div class="section-content">
    <div class="container">
      <h2 class="h2_offer">The Reds in Qatar</h2>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div class="card-columns">
  <div class="card">
    <img src="https://imgnews.pstatic.net/image/109/2022/12/01/0004750792_001_20221201200903379.jpg?type=w647" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">"조규성 같은 공격수에 빠져있다"...獨매체, '가나전 멀티골' 조규성 BVB행 언급</h5>
      <p class="card-text">[OSEN=정승우 기자] '월드컵 스타' 조규성(24, 전북)이 독일 분데스리가로 향하게 될까.</p>
      <p class="card-text"><A href="https://n.news.naver.com/sports/qatar2022/article/109/0004750792"> https://n.news.naver.com/sports/qatar2022/article/109/0004750792</A></p>
    </div>
  </div>
  <div class="card p-3">

    <blockquote class="blockquote mb-0 card-body">
      <p>"국민들에게 기쁨을!" 눈물로 약속한 벤투호, 덕분에 축제 길어졌다 [MD카타르]</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
         <A href="https://n.news.naver.com/sports/qatar2022/article/117/0003674602"> https://n.news.naver.com/sports/qatar2022/article/117/0003674602</A><p>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="https://imgnews.pstatic.net/image/009/2022/11/30/0005053551_001_20221130202901798.jpg?type=w647" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">강렬했던 이강인에 “저친구 누구야?”...뉴캐슬˙번리FC서 관심</h5>
      <p class="card-text">조별리그서 맹활약 펼친 조규성·쿠두스·각포 등 복수 구단에 관심 받아</p>
      <p class="card-text"><A href="https://n.news.naver.com/sports/qatar2022/article/009/0005053551"> https://n.news.naver.com/sports/qatar2022/article/009/0005053551</A></p>
    </div>
  </div>

  <div class="card text-white text-center p-3" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>[카타르 ON]'카잔의 기적' 김영권이 대단한 이유…"16강→센추리클럽"</p>
      <footer class="blockquote-footer text-white">
        <small>
          <A href="https://n.news.naver.com/sports/qatar2022/article/477/0000397982"> https://n.news.naver.com/sports/qatar2022/article/477/0000397982</A><p>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card text-center">
    <img src="https://imgnews.pstatic.net/image/076/2022/11/29/2022113001002226800285321_20221129100804086.jpg?type=w647" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">[카타르 ON]김민재의 가나전 출전 비하인드, '괴물'은 '태극마크'에 진심이다</h5>
      <p class="card-text">모든 선수에게 '태극마크'는 특별하지만, '괴물' 김민재(나폴리)에게는 그 의미가 더욱 큰 듯 하다.</p>
      <p class="card-text"><A href="https://n.news.naver.com/sports/qatar2022/article/076/0003944917"> https://n.news.naver.com/sports/qatar2022/article/076/0003944917</A></p>
    </div>
  </div>

  <div class="card">
    <img src="https://imgnews.pstatic.net/image/076/2022/11/26/2022112701002019700264131_20221126063802507.jpg?type=w647" class="card-img-top" alt="...">
  </div>

  <div class="card p-3 text-right text-white" style="background: #000;">
    <blockquote class="blockquote mb-0">
      <p>역시 응원은 ‘붉은악마’…한국-우루과이전 데시벨 1위</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <A href="https://n.news.naver.com/sports/qatar2022/article/020/0003466148"> https://n.news.naver.com/sports/qatar2022/article/020/0003466148</A><p>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <img src="https://imgnews.pstatic.net/image/076/2022/11/26/2022112701002019700264132_20221126063802527.jpg?type=w647" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">[카타르 ON]'결국 증명했다' 도하의 '빛'이 된 '국민욕받이', 나상호-정우영</h5>
      <p class="card-text">나상호와 정우영은 결국 자신의 가치를 증명했다.</p>
      <p class="card-text"><A href="https://n.news.naver.com/sports/qatar2022/article/076/0003943946"> https://n.news.naver.com/sports/qatar2022/article/076/0003943946</A></p>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
   
--
<footer id="footer-sub">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
          <img src="https://www.kfa.or.kr/images/common/logo_main_left_top_142_68.png">

          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/220px-Logo_NIKE.svg.png">
         
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/FIFA_logo_without_slogan.svg/220px-FIFA_logo_without_slogan.svg.png">

       </div>
       <div class="col-sm-4">


       </div>
    </div>
  </div>
</footer>

<!-- ------------------------------footer sub end---------------------------------- -->

  <footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <h6 class="mt-3">Anaconda</h6>
            <p>
              
              Never ever give up<br>
            </p>
        </div>
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-3">
          <a href="">About Anaconda</a>
          <a href="">News</a>
          <a href="">Awards</a>
          <a href="">Gallery</a>
          <a href="">Sitemap</a>
        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>

          <br><br>
          <a href="">Business Inquiry</a>
          <br>
          <a href="" class="ico"><i class="fab fa-apple fa-2x"></i> Apple Store</a>
          <a href="" class="ico"><i class="fab fa-google-play fa-2x"></i> Google Play</a>
        </div>
      </div>
      <hr>

    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->
       
      <th:block th:include="_footer"></th:block>
       
   </body>
</html>

